@font-face {
    font-family: vazir;
    src: url('../font/Vazir.woff');
}

.farsi{
    font-family: vazir;
    direction: rtl;
}

.h1{
    font-size: 32px;
}
.h2{
    font-size: 28px;
}
.h3{
    font-size: 24px;
}
.h4{
    font-size: 20px;
}
.h5{
    font-size: 16px;
}

table{
    empty-cells: hide;
    background-color: blue;
    border-collapse: collapse;
    border-spacing: 50px 5px;
}
tr{
    background-color: red;
    margin: 50px;
}
td{
    /* background-color: blue; */
    padding: 7px 10px 10px 30px;
    border-bottom: 2px solid #111111;
}