.card{
    margin: 15px 10px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    padding: 16px 30px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}
small{
    font-size: 16px;
}
hr{
    margin: 50px 0px;
}
.card-1{    
    background-color: #9afc86;
}
.card-2{    
    background-color: #ffd09e;
}
.card-3{    
    background-color: #7db7ff;
}
.card-4{    
    background-color: #5cfa6c;
}
.card-5{    
    background-color: #ff788a;
}
.card-6{    
    background-color: #db8cff;
}
.card-7{    
    background-color: #fff959;
}
.card-8{    
    background-color: #c77dff;
}
.card-9{    
    background-color: #96fff6;
}
.card-10{    
    background-color: #45ff4b;
}

.card-1:hover{
    background-color: #55ff33;
}
.card-2:hover{
    background-color: #ffae36;
}
.card-3:hover{
    background-color: #4050ff;
}
.card-4:hover{    
    background-color: #3dff51;
}
.card-5:hover{    
    background-color: #ff3853;
}
.card-6:hover{    
    background-color: #cb59ff;
}
.card-7:hover{    
    background-color: #fff724;
}
.card-8:hover{    
    background-color: #b04cfc;
}
.card-9:hover{    
    background-color: #45f7e8;
}
.card-10:hover{    
    background-color: #1cfc23;
}